@font-face {
  font-family: roboto;
  src: url('./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
  font-family: ubuntu-mono;
  src: url('./fonts/ubuntu-mono/UbuntuMono-B.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

#header {
  font-family: ubuntu-mono;
  color: #57ACF7;
  background-color: black;
  padding: 1rem 4rem;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
}
 h3 {
  color: #A2D0F9;
  font-size: 1.5rem;
  font-family: roboto;
 }