@font-face {
  font-family: roboto;
  src: url('./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
  font-family: ubuntu-mono;
  src: url('./fonts/ubuntu-mono/UbuntuMono-B.ttf');
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-33%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(25%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(33%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  font-family: roboto;
}

body {
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
}

#background {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 375vh;
  background-image: url('./images/pexels-mikhail-nilov-8108726.jpg');
  background-size: cover;
}

.transparent {
  width: 100vw;
  height: 90vh;
  opacity: 0;
}

#header {
  position: fixed;
  display: flex;
  justify-content: right;
  align-items: center;
  background: linear-gradient(.25turn, black, #505050, rgba(111, 167, 111, 0), black, #505050);
  background-size: 400% 100%;
  width: 100%;
  padding: 0;
  padding-right: 2rem;
  animation: slide 15s infinite linear;
  z-index: 5;
}

.nav-btn {
  font-size: 1.5vw;
  font-weight: 700;
  appearance: none;
  height: 100%;
  width: 10vw;
  border: none;
  color: #A2D0F9;
  background: rgba(0, 0, 0, 0);
  padding: .5rem 0rem;
}

.nav-btn:hover {
  color: black;
  background: #A2D0F9;
  transition: .4s;
}

#main {
  color: #A2D0F9;
  background: linear-gradient(.25turn, black, #505050, rgba(111, 167, 111, .6), black, #505050);
  background-size: 400% 100%;
  height: 100vh;
  width: 100%;
  padding: 1rem 4rem;
  animation: slide 15s infinite linear;
}

h1 {
  animation: 2s ease-out 0s 1 slideInFromTop;
  font-family: ubuntu-mono;
  color: #57ACF7;
  text-shadow: 2px 2px 3px gray;
  font-size: 10vw;
  font-weight: 900;
}

h2 {
  animation: 2s ease-out .5s 1 slideInFromLeft;
  animation-fill-mode: backwards;
  font-size: 5vw;
  position: relative;
  left: 1rem;
}

h3 {
  position: relative;
  font-size: 2vw;
  font-family: roboto;
  animation: 2s ease-in 1s 1 slideInFromBottom;
  animation-fill-mode: backwards;
 }

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 3rem;
  background: whitesmoke;
}

 #projects-card {
  color: #A2D0F9;
  font-size: 1.5vw;
  font-weight: 700;
  text-align: center;
  justify-content: start;
 }

 #projects-card h3 {
  animation: none;
  color: #57ACF7;
 }

 .card {
  font-size: 1.7vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(.25turn, black, 60%, rgb(80, 80, 80));
  font-weight: 700;
  color: #57ACF7;
  width: 100%;
  max-width: 375px;
  height: 250px;
  border: 2px solid #57ACF7;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px gray;
 }

 .card:hover {
  transform: scale(1.3);
  transition: .6s;
  z-index: 1;
 }

 .card img {
  width: 100%;
  padding: 10px;
 }

 .card a {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #57ACF7;
  font-weight: 700;
  font-family: roboto;
 }

 #bio {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(.25turn, black, 60%, rgb(80, 80, 80));
  color: #A2D0F9;
  width: 100%;
  min-height: 60vh;
  padding: 2rem;
 }

 #bio-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 70vw;
  padding: 2rem;
  border: 2px solid #57ACF7;
  border-radius: 10px;
 }

#portrait {
  width: 150px;
  height: 150px;
  padding: 0;
  border-radius: 50%;
  float: right;
} 

 #bio h3 {
  font-size: 2.5vw;
  margin: 16px;
  animation: none;
 }

 #bio p {
  font-size: 1.5vw;
 }

 #links, #contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  color: black;
  background: whitesmoke;
  min-height: 40vh;
  margin: 10rem 0rem 0rem 0rem;
 }

#links h3 {
  font-size: 2.5vw;
  font-weight: 700;
  margin: 2rem;
  animation: none;
}

#links img {
  width: 100px;
  margin-bottom: 2rem;
 }

#contact {
  color:#A2D0F9;
  background: linear-gradient(.25turn, black, 60%, rgb(80, 80, 80));
}

#contact h3 {
  animation: none;
  font-size: 2.5vw;
  margin-bottom: .5rem;
}

@media (max-width: 600px) {
  .nav-btn {
    font-size: 3vw;
    width: 15vw;
  }
  h1 {
    font-size: 12vw;
  }
  h2 {
    font-size: 6.5vw;
  }
  h3 {
    font-size: 4vw;
  }
  #projects-card {
    font-size: 5vw;
  }
  #projects-card h3 {
    font-size: 6vw;
  }
  .card {
    font-size: 6vw;
  }
  #bio h3 {
    font-size: 8vw;
  }
  #bio p {
    font-size: 4vw;
  }
  #portrait {
    height: 90px;
    width: 90px;
  }
  #bio {
    padding: 20px 0px;
  }
  #bio-box {
    padding: 10px;
    max-width: 95vw;
  }
  #links h3 {
    font-size: 8vw;
  }
  #contact h3 {
    font-size: 8vw;
  }
  #contact p {
    font-size: 7vw;
  }
  #background {
    height: 390vh;
  }
}
