@font-face {
  font-family: roboto;
  src: url('./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
  font-family: ubuntu-mono;
  src: url('./fonts/ubuntu-mono/UbuntuMono-B.ttf');
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-33%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(25%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(33%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  font-family: roboto;
}

body {
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
}

#background {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url('./images/pexels-mikhail-nilov-8108726.jpg');
  background-size: cover;
}

.transparent {
  width: 100vw;
  height: 100vh;
  opacity: 0;
}

#header {
  position: fixed;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 1.75rem;
  background: linear-gradient(.25turn, black, 60%, rgb(80, 80, 80));
  width: 100%;
  padding: 0;
  padding-right: 2rem;
  animation: 2s ease-in 1s 1 fadeIn;
  animation-fill-mode: backwards;
}

.button {
  font-size: 1.25rem;
  font-weight: 700;
  appearance: none;
  height: 100%;
  width: 100px;
  border: none;
  color: #A2D0F9;
  background: rgba(0, 0, 0, 0);
  padding: .5rem 0rem;
}

button:hover {
  color: black;
  background: #A2D0F9;
  transition: .4s;
}

#main {
  color: #A2D0F9;
  background: linear-gradient(.25turn, black, 60%, rgb(80, 80, 80));
  height: 100vh;
  padding: 1rem 4rem;
}

h1 {
  animation: 2s ease-out 0s 1 slideInFromTop;
  font-family: ubuntu-mono;
  color: #57ACF7;
  font-size: 7rem;
  font-weight: 900;
}

h2 {
  animation: 2s ease-out .5s 1 slideInFromLeft;
  animation-fill-mode: backwards;
  font-size: 3.5rem;
  position: relative;
  left: 1rem;
}

h3 {
  font-size: 1.7rem;
  font-family: roboto;
  animation: 2s ease-in 1s 1 slideInFromBottom;
  animation-fill-mode: backwards;
 }

#projects {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3rem;
  background: whitesmoke;
}

 #projects-card {
  color: #A2D0F9;
  font-size: 2rem;
  font-weight: 700;
 }

 .card {
  width: 100%;
  max-width: 375px;
  height: 375px;
  border: 2px solid #57ACF7;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px gray;
 }

 #bio {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: #A2D0F9;
  width: 100%;
  min-height: 60vh;
  padding: 2rem;
 }

 #text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 70vw;
  padding: 2rem;
  border: 2px solid #57ACF7;
  border-radius: 10px;
 }

 #bio h3 {
  font-size: 2rem;
  margin: 16px;
  animation: none;
 }

 #bio p {
  font-size: 1.2rem;
 }

 #links-contact {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  background: whitesmoke;
  min-height: 60vh;
 }

#links-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  margin: 2rem 0rem;
}

#links-box h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  animation: none;
}

#links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

 #links img {
  width: 75px;
 }